backend/src/main/resources/public
backend/target
frontend/node/
frontend/node_modules/
frontend/target
frontend/test/e2e/reports
frontend/test/unit/coverage
frontend/test-output

*.class

# Package Files
*.jar
*.war

# Apple
.DS_Store

# Intellij
.idea/
*.iml
*.log
